.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
border-radius: 0;
}

.flat-slider.ui-slider {
border: 0;
background: #e9e9e9;
border-radius: 5px;
}

.flat-slider.ui-slider-horizontal {
height: 14px;
}

.flat-slider.ui-slider-vertical {
height: 15em;
width: 14px;
}

.flat-slider .ui-slider-handle {
width: 30px;
height: 30px;
background: #ffc900;
border-radius: 10%;
border: none;
cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
top: 50%;
margin-top: -15px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
left: 50%;
margin-left: -15px;
}

.flat-slider .ui-slider-handle:hover {
opacity: .8;
}

.flat-slider .ui-slider-range {
border: 0;
border-radius: 5;
background: #6c757d;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
top: 0;
height: 14px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
left: 0;
width: 14px;
}